// FONT
$fontColour: #717171;
$fontBody: 'Open Sans', sans-serif;
$fontHeader: 'Open Sans', sans-serif;

// COLOURS
$accentTeal: #5FE3C4;
$accentRed: #D76160;
$primaryBody: #3b3b3b;

// NAVIGATION
$navHeight: 80px;
$navColour: #fff;

// FOOTER
$footerColour: #606060;
$footerText: #fff;

//UI
$buttonColour: #a9a9a9;
$primaryButtonColour: #4b4b4b;
$buttonTextColour: #ffffff;