// FONT
$fontColour: #717171;
$fontBody: proxima-nova, sans-serif;
$fontHeader: proxima-nova, sans-serif;

// font-family: proxima-nova, sans-serif;
// font-style: normal;
// font-weight: 100;

// COLOURS
$accentTeal: #5FE3C4;
$accentRed: #D76160;
$primaryBody: #606060;

// NAVIGATION
$navHeight: 80px;
$navColour: #fff;

// FOOTER
$footerColour: #606060;
$footerText: #fff;

//UI
$buttonColour: darkgrey;
$primaryButtonColour: #4b4b4b;
$buttonTextColour: white;