footer {
    background-color: $footerColour;

    .logos {
        padding: 3em 3em 5em 3em;
        // padding-top: 3em;
        // padding-bottom: 5em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        align-items: stretch;
        grid-gap: 75px 75px;
        grid-template-areas:    "."
                                "."
                                "."
                                ".";

        @include breakpoint(phablet){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:    ". ."
                                    ". .";
        }

        @include breakpoint(tablet){
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: ". . . .";
        }

        img {
            width: 100%;
            align-items: center;
            margin: 0 auto;
            max-width: 12em;
        }
    }

    .info {
        padding: 50px 0px;
        text-align: center;
        color: $footerText;
    }
}