.hero {
    background-color: rgb(236, 236, 236);
    background: url("../image/hero.jpg") no-repeat center center;
    background-size: cover;
    height: calc(100vh - #{$navHeight});
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    .overlay {
        background-color: black;
        position: absolute;
        opacity: 0.5;
        width: 100%;
        top: $navHeight;
        height: calc(100% - #{$navHeight});
    }

    .content {
        color: white;
        z-index: 1;
        width: 68vw;
        margin: 0 auto;

        @include breakpoint(phablet) {
            width: 38vw;
        }
    }

    .title {
        font-size: 11.25vw;
        text-align: center;
        font-weight: 900;
        color: #fff;

        .highlight {
            color: $accentTeal;
        }

        @include breakpoint(phablet) {
            font-size: 6.25vw;
        }
    }

    .subtitle {
        font-size: 1.30em;
        margin-top: 0.5em;
    }

    .scroll-indicator {
        background: url("../image/icon/chevron.svg") no-repeat;
        background-size: contain;
        height: 50px;
        width: 50px;
        margin: 0 auto;
        left: 0;
        right: 0;
        position: absolute;
        bottom: 50px;
    }

    .objective {
        display: none;

        @include breakpoint(phablet) {
            display: block;
        }

        $objectiveDotHorizontalPostion: 20%;
        $objectiveDotVerticlePostion: 20%;

        &.dot {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: absolute;
            border: 10px solid white;
            cursor: pointer;
            transition: transform 1s ease-in-out;
            animation: pulse 1s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &.one {
                left: $objectiveDotHorizontalPostion;
                bottom: calc(#{$objectiveDotVerticlePostion});
                animation-delay: 200ms;
            }

            &.two {
                right: $objectiveDotHorizontalPostion;
                bottom: calc(#{$objectiveDotVerticlePostion});
                animation-delay: 0ms;
            }

            &.three {
                left: $objectiveDotHorizontalPostion;
                top: calc(#{$objectiveDotVerticlePostion} + #{$navHeight});
                animation-delay: 400ms;
            }

            &.four {
                right: $objectiveDotHorizontalPostion;
                top: calc(#{$objectiveDotVerticlePostion} + #{$navHeight});
                animation-delay: 600ms;
            }

            &:hover {
                animation: grow 300ms forwards cubic-bezier(0.455, 0.03, 0.515, 0.955);
                // transform: scale(1.25);
            }

            &:hover + .box {
                opacity: 1;
            }
        }

        $objectiveBoxHorizontalOffest: 20px;
        $objectiveBoxVerticleOffest: 50px;

        &.box {
            opacity: 0;
            padding: 10px;
            width: max-content;
            max-width: 300px;
            min-height: 32px;
            position: absolute;
            background: transparent;
            outline: none !important;
            transition: all 0.3s ease;
            display: inline-block;

            // border: 2px solid white;
            color: white;

            &.one {
                left: calc(#{$objectiveDotHorizontalPostion} + #{$objectiveBoxHorizontalOffest});
                bottom: calc(#{$objectiveDotVerticlePostion} + #{$objectiveBoxVerticleOffest});
                border-left-width: 7px;
            }

            &.two {
                right: calc(#{$objectiveDotHorizontalPostion} + #{$objectiveBoxHorizontalOffest});
                bottom: calc(#{$objectiveDotVerticlePostion} + #{$objectiveBoxVerticleOffest});
                border-right-width: 7px;
            }

            &.three {
                left: calc(#{$objectiveDotHorizontalPostion} + #{$objectiveBoxHorizontalOffest});
                top: calc(#{$objectiveDotVerticlePostion} + #{$navHeight + $objectiveBoxVerticleOffest});
                border-left-width: 7px;
            }

            &.four {
                right: calc(#{$objectiveDotHorizontalPostion} + #{$objectiveBoxHorizontalOffest});
                top: calc(#{$objectiveDotVerticlePostion} + #{$navHeight + $objectiveBoxVerticleOffest});
                border-right-width: 7px;
            }
        }


        &.box, &.box:link, &.box:visited {

            border: 2px solid transparent;
            transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:after, &:before {
                content: "";
                position: absolute;
                left: -2em;
                top: -2px;
                height: 46px;
                width: 0;
                transition: inherit;
            }

            &:after {
                left: auto;
                right: -2em;
            }

            &.one {
                &:before {
                    border: 5px solid #fff;
                }
            }

            &.two {
                &:after {
                    border: 5px solid #fff;
                }
            }

            &.three {
                &:before {
                    border: 5px solid #fff;
                }
            }

            &.four {
                &:after {
                    border: 5px solid #fff;
                }
            }

        }

        &.dot:hover + .box {
            border-color: #ffffff;
            transition: border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            &:after, &:before {
                right: -7px;
                transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }

            &:before {
                left: -7px;
                right: auto;
            }
        }
    }
}
