section.registration .container {

    >.title {
        text-transform: uppercase;
        border-left: 5px solid aqua;
        padding-left: 15px;
        margin-bottom: 75px;
    }

    .courses {

        max-width: 750px;

        .course {
            border-bottom: 2px solid white;
            padding: 25px 0;

            .info {
                display: inline-block;
                width: 80%;

                >div {
                    margin-bottom: 5px;
                }

                .title {
                    font-size: 1.25em;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }

            .register {
                display: inline-block;
                width: 19%;

                button {
                    width: calc(100% - 50px);
                    width: stretch;
                }

            }
        }
    }
}