section.resources {

    .container {


        @include breakpoint(phablet){

        }

        @include breakpoint(tablet){

        }

    }

    .resources {
        margin-top: 25px;
    }

    .item { 
        cursor: pointer;
        max-width: 250px;
        margin-bottom: 15px;
        padding: 1em;
        border-radius: 1em;
        transition: all 200ms linear;

        &:hover {
            background-color: rgb(245, 245, 245);
        }

        img {
            display: inline-block;
            margin-right: 5px;
            width: 25px;
        }

        .info {
            display: inline-block;
        }
    }


}